.histogram {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px 24px 24px;
}

.histogram__header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 24px;
    color: var(--black);
    display: flex;
    justify-content: space-between;
}

.histogram__link {
    padding-top: 3px;
}

.histogram__data {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.histogram__label {
    margin: 0;
    opacity: 0.8;
    font-weight: 400;
    font-size: 16px;
}

.histogram__total {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.histogram__link {
    text-align: right;
    color: var(--blue-1);
    white-space: nowrap;
}

.histogram__chart {
    height: 50px;
    display: flex;
    align-items: flex-end;
    gap: 1px;
    padding: 39px 5px 0 2px;
}

.histogram__chart-item {
    background-color: var(--blue-1);
    flex: 1 1 9px;
}
